{% extends 'photo/base.html' %}

{% block title %}
<title> {{stream.name}} </title>
{% endblock %}

{% block scripts %}
	<!--
	<script type="text/javascript" src="../../static/photo/js/photo_upload.js"></script>
	-->
	<script type="text/javascript" src="../../static/photo/js/dropzone.js"> </script>
	<script type="text/javascript" src="../../static/photo/js/dropzone_config.js"></script>
	<script type="text/javascript" src="../../static/photo/js/hover_display.js"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="../../static/photo/css/dropzone.css">
{% endblock %}

{% block content %}


<div class="container-fluid">
	{% if is_owner %}
	<!-- dropzone upload -->
	<form action="{% url 'gallery' stream.id  %}" class="dropzone" id="my-awesome-dropzone">
		{% csrf_token %}
		<div class="fallback">
			{{form.as_p}}
		</div>
	</form>
	<!-- add submit button dynamically with javascript -->
	<div id="img-submit">
	</div>
	<!-- end dropzone upload -->
	{% endif %}

	<br>

	<!-- thumbnails -->
	<ul class="list-inline  text-lg-left" style="justify-content: space-between; padding-bottom: 80px;">
		{% for photo in photos %}	
		<li data-toggle="modal" data-target="#myModal" class="my-hover-control text-center">
			<a href="#carousel-gallery" data-slide-to="{{ forloop.counter0 }}">
				<img class="thumb" src="{{photo.data.url}}">
				<br>
			</a>

			<div class="dropdown my-hover-display">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> actions <span class="caret"></span></a>
				<ul class="dropdown-menu">
					{% if is_owner  %}
					<li> <a href="{% url "delete_photo" photo_id=photo.pk stream_id=stream.id %}"> delete </a></li>
					{% endif %}
					<li> <a href="#"> comment </a>  </li>
				</ul>
			</div>

		</li>
		{% endfor %}
	</ul>
	<!--end of thumbnails-->



	<!--begin modal window. (wrapped around carousel library)-->
	<div class="modal fade" id="myModal">
	<div class="modal-dialog modal-lg">
	<div class="modal-content">
	<div class="modal-header">
	<div class="pull-left">
		<div class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> actions <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li> delete </li>
				<li> comment </li>
			</ul>
		</div>
	</div>
	<button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
	</div>
	<div class="modal-body">


	<!-- carousel --> 
	<div id="carousel-gallery" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			{% for index in indexes %}
			{% if forloop.first  %}
			<li data-target="#carousel-gallery" data-slide-to="{{ index }}" class="active"></li>
			{% else  %}
			<li data-target="#carousel-gallery" data-slide-to="{{ index }}"></li>
			{% endif %}
			{% endfor %}
		</ol>
	 
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			{% for photo in photos %}
			{% if forloop.first %}
			<div class="item active">
				<img class="detailed-img center-block" src="{{photo.data.url}}" alt="...">
					<div class="carousel-caption">
						<h3></h3>
					</div>
			</div>
			{% else %}
			<div class="item">
				<img class="detailed-img center-block" src="{{photo.data.url}}" alt="...">
				<div class="carousel-caption">
					<h3></h3>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	 
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-gallery" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-gallery" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div> <!-- Carousel -->
	<!-- end carousel -->

	<!--end modal-body--></div>
	<div class="modal-footer">
	<div class="pull-right">
	<!--
	<small> place holder </small>
	-->
	<button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
	<!--end modal-footer--></div>
	<!--end modal-content--></div>
	<!--end modal-dialoge--></div>
	<!--end myModal--></div>

</div>
<!-- end container-fluid-->
	
{% endblock %}
