{% extends 'photo/base.html' %}

{% block title %}
<title> home </title>

{% endblock %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6">
				<a href="{% url 'create_stream' %}" class="btn btn-primary"> Create Stream </a>
			</div>
		</div>
		
		<br>
	{% endif %}

	<!-- render all the user's streams here -->


	<div class="row text-center text-lg-left">
	{% for stream in user_streams %}	
	<!--
		<div class="col-lg-3 col-md-4 col-xs-6">
			<a href="{% url 'gallery' stream.pk %}" class="d-block mb-4 h-100">
				<img class="img-fluid img-thumbnail" src={{stream.cover_img.url}} alt="">
			</a>
		</div>
	-->

		<div class="col-lg-3 col-md-4 col-xs-6">
			<a href="{% url 'gallery' stream.pk %}" class="thumb" style="background-image: url('{{stream.cover_img.url}}')">  </a>
			<br>
			<a href="{% url 'gallery' stream.pk %}"> {{ stream.name }} </a>
		</div>

	{% endfor %}
	</div>



</div>

{% endblock %}

